.look_around {
    margin-top: 1%;
    height: 3em;
	background:conic-gradient(#d95641, #b14439, #b2453a, #d25645, 
								#d95641, #b14439, #b2453a, #d25645,
								#d95641, #b14439, #b2453a, #d25645,
								#d95641, #b14439, #b2453a, #d25645);
}

.sign_in {
    height: 2em;
	background:conic-gradient(#e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
								#e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
								#e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
								#e6e9bf, #d2b5aa, #cbaea3, #d4b5ab);
} 

.welcomePage{
    background-image: url("./Images/CityBrewery.jpeg");
    height: 200px;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 10%;

}

.welcomeBanner {
    font-size: 36px;
    color: ivory
}

.frontPage {
    background:conic-gradient(#d95641, #b14439, #b2453a, #d25645, 
    #d95641, #b14439, #b2453a, #d25645,
    #d95641, #b14439, #b2453a, #d25645,
    #d95641, #b14439, #b2453a, #d25645);
}

.front{
    height: 100%;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 20px solid #969696;
    background:conic-gradient(#d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
    #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
    #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
    #d7d7d7, #c3c3c3, #cccccc, #c6c6c6);

}

.newMainPageButton{
    height: 3em;
    background:conic-gradient(#edc800, #e3b600, #f3cf00, #ffe800,
								#edc800, #e3b600, #f3cf00, #ffe800,
								#edc800, #e3b600, #f3cf00, #ffe800,
								#edc800, #e3b600, #f3cf00, #ffe800)
}

.mainPageWelcome{
    margin-top: 1%;
    height: 3.75em;
    width: 11em;
	background:conic-gradient(#d95641, #b14439, #b2453a, #d25645, 
								#d95641, #b14439, #b2453a, #d25645,
								#d95641, #b14439, #b2453a, #d25645,
								#d95641, #b14439, #b2453a, #d25645);
}


.returnLink {
    color: darkslategray;
    font-size: 18px;
    text-align: right;
    margin-left: 85%;
}

.StateMenus{
    width:fit-content;
    display: hidden;
    background-color: lightyellow;  
    margin-left: 12%;
}

#regionList {
    margin-top: 8%;
	display: none;
	height: 100%; 
	width: 17%; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
        animation: fadeIn 5s;
        -webkit-animation: fadeIn 5s;
        -moz-animation: fadeIn 5s;
        -o-animation: fadeIn 5s;
        -ms-animation: fadeIn 5s;

      }

      @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-moz-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-webkit-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-o-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-ms-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
    
td{
  width:fit-content;
  text-align: center;
  border: 1px solid blue;

}
th{
  text-emphasis:bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: 3px #d8dede;
background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);  
  margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#filler{
  background-color: #e9bcb7;
  background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
}

.featureSection{
  background-color: mediumblue;
}

.middleFill{
  font-size: 16px;
	background:conic-gradient(#e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
								#e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
								#e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
								#e6e9bf, #d2b5aa, #cbaea3, #d4b5ab);
}

#stateTable{
  border: 3px solid yellow;
  background: lightgrey;
  width: 70%;
  margin-left: 5%;
  overflow-y: scroll;
}

#sidenav{
  display: block;
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 17%; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	/* z-index: 1;  */
  /* Stay on top */
	top: 25%; /* Stay at the top */
	right: 0;
}

.chartTitle{
        background-color: #cccfd1;
        text-align: left;
				text-transform: uppercase;
				padding: .5rem;
				font-weight: bold;
				color: #000;
				font-size: .9rem;
}

.chartData{
  background-color:#e7e9ea;
}

#StatePage{
  background:conic-gradient(#d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
  #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
  #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
  #d7d7d7, #c3c3c3, #cccccc, #c6c6c6);

}

#sign{
  background:conic-gradient(#d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
  #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
  #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
  #d7d7d7, #c3c3c3, #cccccc, #c6c6c6);
}

#endpoint{
  background: lightgreen;
}